<!DOCTYPE html>
<html lang="en">
    <%- include('./components/Head') %>
    <body>
        <main>
            <div
                id="spinner"
                class="show position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
            >
                <div class="spinner-grow text-primary" role="status"></div>
            </div>
            <!-- Spinner End -->

            <%- include('./components/TopBar') %> <%-
            include('./components/Navbar') %>

            <!-- Page Header Start -->
            <div class="container-fluid page-header py-5">
                <div class="container text-center py-5">
                    <h1 class="display-2 text-white mb-4 animated slideInDown">
                        Projects
                    </h1>
                    <nav aria-label="breadcrumb animated slideInDown">
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Pages</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Projects
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Page Header End -->

            <!-- Fact Start -->
            <div class="container-fluid bg-secondary py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 wow fadeIn" data-wow-delay=".1s">
                            <div class="d-flex counter">
                                <h1 class="me-3 text-primary counter-value">
                                    99
                                </h1>
                                <h5 class="text-white mt-1">
                                    Success in getting happy customer
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 wow fadeIn" data-wow-delay=".3s">
                            <div class="d-flex counter">
                                <h1 class="me-3 text-primary counter-value">
                                    25
                                </h1>
                                <h5 class="text-white mt-1">
                                    Thousands of successful business
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 wow fadeIn" data-wow-delay=".5s">
                            <div class="d-flex counter">
                                <h1 class="me-3 text-primary counter-value">
                                    120
                                </h1>
                                <h5 class="text-white mt-1">
                                    Total clients who love HighTech
                                </h5>
                            </div>
                        </div>
                        <div class="col-lg-3 wow fadeIn" data-wow-delay=".7s">
                            <div class="d-flex counter">
                                <h1 class="me-3 text-primary counter-value">
                                    5
                                </h1>
                                <h5 class="text-white mt-1">
                                    Stars reviews given by satisfied clients
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fact End -->

            <!-- Project Start -->
            <%- include('./components/ProjectsSection') %>
            <!-- Project End -->

            <!-- Footer Start -->
            <%- include('./components/Footer') %>
            <!-- Footer End -->

            <!-- Back to Top -->
            <a
                href="#"
                class="btn btn-secondary btn-square rounded-circle back-to-top"
                ><i class="fa fa-arrow-up text-white"></i
            ></a>

            <!-- JavaScript Libraries -->
        </main>
        <%- include('./components/Scripts') %>
    </body>
</html>
